* , *::before , *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Nunito;
    src: url(./nunito-regular.woff);
}


:root{
    --clr-primary: #3f51b5;
}

body{
    font-family:  Nunito;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: 600;
}

div[role="dialog"]{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 1rem;
    border: 1px solid;
    border-radius: 0.325rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.8);
    width: 50%;
    @media(width <= 700px){
        width: 80%;
    }
}
[data-state='closed']{
    display: block;
}
[data-state='opened']{
    display: none;
}

.open-dialog{
    margin: 1rem;
    padding: 0.125rem 0.5rem;
    border: 1px solid;
    background-color: transparent;
    padding: 0.625rem 0.5rem;
    border: none;
    border-radius: 0.125rem;
    color: white;
    &:focus-visible{
        outline: 0.125rem solid;
    }
    background-color: var(--clr-primary);
}

.dialog-header{
    display: grid;
    gap: 10px;
    h2{
        color: var(--clr-primary);
    }
}

.close-dialog{
    position: absolute;
    top: 1rem;
    right: 1rem;
    > svg{
        color: var(--clr-primary);
    }
}

.dialog-content{
    margin-block: 2rem;
}

.dialog-footer{
    display: flex;
    justify-content: end;
}

.save-btn{
    padding: 0.625rem 0.5rem;
    background-color: var(--clr-primary);
    color: white;
    border-radius: 0.125rem;
}


.dialog-description{
    color: rgb(0 0 0 / 0.8);
}

form{
    width: 100%;
    display: grid;
    gap: 10px;
    font-family: Nunito;
    & > *{
        font-family: Nunito;
    }
}
.form-group{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    label{
        color: var(--clr-primary);
    }
    input{
        width: 100%;
        height: 44px;
        border: 1px solid rgb(0 0 0 / 0.8);
        border-radius: 0.25rem;
        padding-inline: 2px;
        &:focus{
            outline: 3px solid var(--clr-primary);
            outline-offset: 1.5px;
        }
    }
}